# Node dependencies & logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store
Thumbs.db
Desktop.ini

# IDE & temporary files
.vscode/
.idea/
*.tmp
*.bak

# Large Game ROMs tracked via Git LFS
# games/*.chd

